:root {
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  /* font-family: zapfino, Cambria, cursive; */
  font-family: Helvetica, Arial, sans-serif;
}

.nested-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: relative;
  grid-gap: 1em;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  place-items: center;
}

.nested-container > * {
  /* background-color: darkgray; */
  background-color: #c1c0c0;
  /* color: white; */
  padding: 5px;
  /* border-radius: 0.5em; */
}

.text-input {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 200px;
  /* min-width: 800px; */
  min-width: 25vw;
  outline: none;
  resize: none;
  border: 2px solid #f0f0f0;
  font-size: 14px;
}

.similarity {
  min-width: 25vw;
  font-size: 14px;
}

.page-heading {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.internal-heading {
  margin-top: 1px;
}

.pure-button {
  max-width: fit-content;
}

.container {
  display: grid;
  grid-template-columns: min-content auto;
}

.left-half {
  /* background: #ff9e2c; */
  grid-column: 1;
  margin: 0.5em;
}

.middle-half {
  /* background: #b6701e; */
  grid-column: 2;
  margin: 0.5em;
}

.right-half {
  /* background: #b6701e; */
  grid-column: 3;
  margin: 0.5em;
}

.cv {
  text-align:center;
}

.description {
  font-size: 14px
}

.docx-data {
  min-width: 100%;
}

#text-area-3 {
  min-height: 400px;
  min-width: 100%;
}

#button-extract-cv-data, #button-extract-cvs-data {
  float: right;
}

.artcl {
  max-width: 25vw;
  min-width: 100%;
}