spacy>=2.1.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz#egg=en_core_web_lg
Flask>=1.1.1
flask-cors>=3
pdfminer.six>=20181108
uWSGI>=2.0.18