<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV Demo</title>
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/pure-min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous"> -->
</head>

<body>
    <header>
        <h2 class="page-heading">CV processing Demo</h2>
    </header>

    <section class="container">
        <div class="left-half">
            <h3 class="internal-heading">Compute cosine similarity</h3>
            <div class="nested-container">

<!--                 <select disabled id="lang-select" title="Choose your language">
                    <option value="0">-- Choose language --</option>
                    <option value="1">English</option>
                    <option value="2">Norwegian</option>
                    <option value="3">Russian</option>
                    <option value="4">Ukrainian</option>
                </select> -->
                <textarea class="text-input" id="text-area-1" placeholder="Insert text 1 . . ."></textarea>
                <textarea class="text-input" id="text-area-2" placeholder="Insert text 2 . . ."></textarea>

                <button class="pure-button pure-button-primary" id="button-find-similarity">Compute cosine
                    similarity</button>
                <div class="similarity">
                    <lable class="cosine-similarity-label">Cosine similarity: </lable>
                    <lable class="cosine-similarity" id="label-cosine-similarity"></lable>
                </div>
            </div>
        </div>
        <div class="middle-half">
            <article class="artcl">
                <h3 class="internal-heading">Distributional semantic theory</h3>
                <p>In distributional semantics, words are usually represented as vectors in a multi-dimensional space of
                    their contexts. Semantic similarity between two words is then calculated as a cosine similarity
                    between their corresponding vectors; it takes values between -1 and 1 (usually only values above 0
                    are used in practical tasks). 0 value roughly means the words lack similar contexts, and thus their
                    meanings are unrelated to each other. 1 value means that the words' contexts are absolutely
                    identical, and thus their meaning is very similar.</p>
                <p>Distributional semantics is under the hood of almost all contemporary natural language understanding
                    systems. As a rule, the so called predictive models are employed, which learn hiqh-quality dense
                    vectors representing word meaning (embeddings). These models are often trained using shallow
                    artifical neural networks based on the task of predicting the next word in a sequence: language
                    modeling. One of the first and arguably the most well-known tool in this field now is word2vec, but
                    new models and algorithms are published regularly.</p>
                <div class="description">
                    <h3 class="internal-heading">References</h3>
                    <ul>
                        <li>
                            <a href="https://rusvectores.org/en/about/" target="_blank">
                                RusVectōrēs: </a>distributional semantics, word embeddings, language modeling
                        </li>
                        <li>
                            <a href="http://vectors.nlpl.eu/explore/embeddings/en/" target="_blank">
                                WebVectors: </a>distributional semantics, word embeddings, language modeling (in Norwegian)
                        </li>
                        <li>
                            <a href="https://spacy.io/" target="_blank">
                                spaCy </a>(advanced Natural Language Processing in Python and Cython)
                        </li>
                        <li>
                            <a href="https://fasttext.cc/" target="_blank">
                                fastText </a>(efficient text classification and representation learning)
                        </li>
                        <li>
                            <a href="https://github.com/RaRe-Technologies/gensim" target="_blank">
                                Gensim </a>(topic modelling, document indexing and similarity
                                retrieval with large corpora)
                        </li>
                    </ul>
                    <h3 class="internal-heading">CV processing concepts</h3>
                    <ul>
                        <li>
                            <a href="/cvparsing" target="_blank">
                                CV parsing concept</a>
                        </li>
                        <li>
                            <a href="/cvwe" target="_blank">
                                CV processing using distributional semantic modeling</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="right-half">
            <h3 class="internal-heading">Ridge-templated CV (DOCX) processing into XML</h3>
            <div class="nested-container">
                <div class="docx-data">
                    <input type="file" id="input-docx-file"
                        accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    <button class="pure-button pure-button-primary" id="button-extract-cv-data">CV processing</button>
                </div>
                <textarea class="text-input" id="text-area-3" placeholder="Here will be CV data in XML . . ."></textarea>
<!--                 <div class="description">
                    <h3 class="internal-heading">References</h3>
                </div> -->
                <div class="docx-data">
                    <input type="file" id="input-docx-files" name="file[]" multiple
                        accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    <button class="pure-button pure-button-primary" id="button-extract-cvs-data">Multiple CVs processing</button>
                </div>
            </div>
        </div>
    </section>
</body>
<!-- ---------------------------------------------------------------------------------------------------- -->
<script src="./static/javascripts/libs/jquery-3.4.1.min.js"></script>
<script src="./static/javascripts/events.js"></script>

</html>