<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Word2Vec similarity Demo</title>
  <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <header>
      <h3 class="page-heading">Language Modelling and Text Generation using LSTMs Demo</h1>
    </header>
    <textarea class="text-input" placeholder="Insert text . . ."></textarea>

    <div class="prediction">
      <lable>Prediction</lable>
    </div>
    <div class="lang">
      <lable class="cosine-similarity-label">Cosine similarity: </lable>
      <lable class="cosine-similarity"></lable>
    </div>
    <div class="description">
      <ul>
        <li>
          <a href="https://www.analyticsvidhya.com/blog/2018/03/text-generation-using-python-nlp/">
            How to create a poet / writer using Deep Learning (Text Generation using Python)?</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="./static/javascripts/events.js"></script>
</body>
</html>